/* styling reset */
.nav, .dropdown, ul.nav li {
	padding: 0;
	margin: 0;
	font-family: helvetica;
}

/* remove list item bullets */
.nav, .dropdown {
	list-style-type: none;	
}

.nav .top-level-nav-item {
	float: left;
	position: relative;
	border-right: 1px solid white;
}

.nav .dropdown {
	position: absolute;
	top: 38px;
	left: 0;
	display: none;
	width: 150px; /* unnecessary, but helps keep dropdown widths consistent */
}

.nav a {
	text-decoration: none;
	background-color: black;
	color: white;
	padding: 10px;
	display: block;
}

.nav a:hover {
	background-color: #cccccc;
	color: black;
}

.nav .top-level-nav-item:hover .dropdown {
	display: block;	
}

.nav:after {
	content: '';
	display: block;
	clear: both;
}







